/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    position: fixed;
    width: 96%;
    top: 0;
    z-index: 1000;
  }
  
  .logo-image {
    width: 50px; /* Set the size of the logo */
  }
  
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f0a500;
  }
  
  /* Styling for the sections */
  .section {
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
  }
  
  .section:nth-child(even) {
    background-color: #e2e2e2;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }